body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


form {
    border: 1px solid black;
    margin: 25px auto;
    padding: 5px;
}

h2{
    text-align: center;
}


#divProductsList{
    border: 1px solid black;
}

td, th{
    width: 25%;
    border: 1px solid black;
    text-align: center;
}